{% extends 'accounts/main.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<h1 class="display-4 text-center">
    {{title}}
</h1>
<hr>
<br>

<div class="row">

    <div class="col-md-10 mx-auto container-fluid">
        <div id="display-button">
            <button onclick="unhideTaskForm()" class="btn btn-outline-primary btn-sm btn-block" >Create new
                task</button>
                <hr>
        </div>
        
        
        <div style="display: none;" id="create-task">
            <form method="POST" action="" enctype="">
                {% csrf_token %}
                {% crispy form %}
                <br>


                <hr>
            </form>
        </div>
    </div>
</div>
<div class="row" id="display-tasks">
    <div class="col-md-10  mx-auto">
        <div class="card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-secondary btn-sm" type="submit">Search</button>

            </form>
        </div>
    </div>
</div>
<br>
<div>
    
    {% for task in my_tasks%}
    <div class="row">
        
        <div class="col-md-10 mx-auto container-fluid ">
            <div class="input-group mb-0 ">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <div class="input-group-text text-muted" id="">{{task.client.name}}</div>
                    <div class="input-group-text text-muted" id="">{{task.fund.name}}</div>
                    
                </div>
                
                <a class="form-control text-primary" href="{% url 'task-details' task.id %}">{{task.title}}</a>
                
                <div class="input-group-append" >
                    <div class="input-group-text" style="background-color:red;"><a href="{% url 'delete' task.id %}" style="color:white;">x</a></div>
                    
                </div>
            </div>
            <div class="progress mb-3 " style="height: 3px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{task.progress}}%" aria-valuenow='100' aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
</div>

</div>
{% endblock content%}