{% extends 'accounts/main.html'%}
{% load static %}

{% block content%}



<form action="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">

            <input type="text" class="form-control" placeholder="" aria-label="Todo" aria-describedby="add-btn"
                autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="add-btn">Add</button>
            </span>
        </div>
    </div>
</form>

<br>
<div>
    {% for task in my_tasks%}
    <div class="row">
        <div class="col-md-12 mx-auto container-fluid">
            <div class="input-group mb-3 card">
                <div class="input-group-prepend ">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <div class="card-body">
                        <a class="card-title" href="{% url 'task-details' task.id %}">{{task.title}}</a>
                        <span class="text-muted">{{task.client.name}}/ {{task.fund.name}}</span>

                    </div>
                    

                </div>

            </div>

        </div>
    </div>
</div>
            <!-- <p class="card-text sm"></p> -->
            <!-- <p>{% for domain in mission.competences_required.all %} • {{ domain }} {% endfor %}</p>
                    <div class="card-body">
                        <ul>
                            <li class="card-text font-weight-bold">Date de début de mission : {{mission.start_date}}
                            </li>

                        </ul>
                        <a href="#" class="btn btn-info">Voir plus</a>


                    </div>
                    <p><small class="card-text sm">{{task.date_created}}</small></p> -->

   
<!-- {{task.title}}
    {{task.client_name}}
    {{task.fund_name}}
    {{task.description}}
    {{task.periodicity}}
    {{task.time_to_complete}}
    {{task.current_advancement}}
    {{task.assignee.first_name}}
    {{task.reporter.first_name}} -->
{% endfor %}
</div>
{% endblock content%}