{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Aidemonde Consulting - Jobapp</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    
</head>
<body>
<div>
<div>
    {% include 'accounts/navbar.html'%}
</div>

<div class="container-fluid">

    <div class="row">

        {% include 'accounts/sidebar.html'%}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <br>
            {% block content%}



            {% endblock content %}
      
        </main>
            
        </div>
    </div>
</div>

</div>
<script>
    function unhideTaskForm() {
        var form = document.getElementById("create-task");
        var filter = document.getElementById("display-search-tasks");
        var button = document.getElementById("display-tasks-button");
        if (form.style.display === "none") {
        form.style.display = "block";
        filter.style.display = "none";
        button.style.display = "none";
        }
    }


    
    function unhideClientForm() {
        var form = document.getElementById("create-client");
        var filter = document.getElementById("display-search-clients");
        var button = document.getElementById("display-clients-button");
        if (form.style.display === "none") {
        form.style.display = "block";
        filter.style.display = "none";
        button.style.display = "none";
    }
}

    function unhideFundForm() {
        var form = document.getElementById("create-fund");
        var filter = document.getElementById("display-search-funds");
        var button = document.getElementById("display-funds-button");
        if (form.style.display === "none") {
        form.style.display = "block";
        filter.style.display = "none";
        button.style.display = "none";
    }
}

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

   

</body>
</html>