
{%  extends 'accounts/main.html' %}
{% load static %}


{% block content %}
{% load crispy_forms_tags %}
<br>
<br>


            <form method="POST" action="/" enctype="">
                {% csrf_token %}
                
             
                <!-- {{ formset.management_form }} -->

                {% crispy form %}  
                <hr>
                <!-- {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor%} -->
                <input class="btn btn-primary btn-block"type="submit" name="Submit">

            </form>
        


{% endblock %}